# Maven build output
target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Eclipse-specific files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml

# VS Code
.vscode/

# JetBrains project files
*.iml

# Backup files from Maven or IDEs
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Logs and temporary files
*.log
*.bak



# AEM specific (exclude content files that shouldn’t be tracked)
# Update with appropriate subfolder patterns if needed
scripts/.cache/
all/*.tmp
core/.temp/


# Frontend build output
ui.frontend/dist/
ui.frontend/build/
ui.frontend/.cache/
node_modules/
ui.frontend/node_modules/
ui.frontend/node/node_modules/

